:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #1b7f9d;
  --color-primary-dark: #085771;
  --color-secondary: #c6664e;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-xlg: 20px;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 91rem;
  --size-gutter: var(--space-4);
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-loose);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}
a {
  background-color: transparent;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
  /* text-decoration: underline; */
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
/* a:active, */
/* a:hover {
  outline-width: 0;
  text-decoration: none;
  color: 'blue', 
} */
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1,
h2,
h3 {
  margin: var(--space-2) 0;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h4 {
  font-weight: 700;
  font-size: var(--font-xlg);
  margin: var(--space-1) 0;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
}
button:hover {
  cursor: pointer;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  padding: 0;
  margin: calc(var(--space-6) - 1px) 0;
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
/* p {
  max-width: 740px;
} */
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

.secondary-color {
  color: var(--color-secondary);
}

.secondary-link {
  color: var(--color-secondary);
  text-decoration: underline;
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.italic {
  font-style: italic;
}

.bolded {
  font-weight: bold;
}

.textButton:hover {
  cursor: pointer;
}

/* testimonials styles and Media Queries*/
.column-3 {
  width: calc(33.333% - 1em);
  gap: 0.5em;
}

@media (max-width: 800px) {
  .column-3 {
    width: 100%;
    margin: var(--space-4) 0;
  }
}

/* Footer styles and Media Queries*/
.footer-row {
  max-width: var(--size-content);
  margin: 0 auto;
  display: flex;
  padding: 0 40px;
  align-items: center;
}

.footer-bar {
  width: 1px;
  background-color: #202020;
  height: 200px;
}

.footer {
  margin-top: var(--space-5);
  font-size: var(--font-sm);
  width: 100%;
  min-height: 300px;
  background-color: #eef7fa;
  padding: 50px;
}

@media (max-width: 800px) {
  .footer-row {
    flex-direction: column;
    gap: 2.5em;
    margin-bottom: 50px;
  }
  .footer-bar {
    min-width: 300px;
    height: 1px;
  }
  .footer {
    min-height: 300px;
  }
}

/* Header styles and Media Queries*/

.header {
  padding: var(--space-4) var(--space-5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--size-content);
  margin: var(--space-5) 0;
}

.header-link {
  font-size: var(--font-lg);
  margin: 10px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
}

.header-links-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 1em 1em;
  gap: 1.5em;
  font-size: var(--font-lg);
}

.header-links-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  z-index: 99;
  padding: var(--space-4);
  background-color: var(--color-primary-dark);
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}

.header-links-mobile.open {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.header-links-close {
  font-size: larger;
  border: none;
  background: none;
  color: white;
}
.header-link-mobile {
  color: white;
}

@media (max-width: 800px) {
  .header {
    display: flex;
  }

  .header-link {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: 1em;
  }
}

/* case study styles and Media Queries*/

.row-cs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--space-5);
  margin: var(--space-3) 0;
}

.align-start {
  align-items: flex-start;
}

.column-cs {
  display: flex;
  padding: 0 var(--space-5);
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.title-cs {
  margin-bottom: var(--space-4);
  align-items: flex-start;
}

@media (max-width: 800px) {
  .row-cs {
    flex-direction: column;
  }
  .column-cs {
    padding: 0;
  }
  .centered {
    align-items: center;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .downloadButton {
    visibility: hidden;
  }
  .resume-title {
    justify-content: center;
  }
}

.image-cs {
  width: 100%;
}

.resize-lg {
  max-width: 85%;
  align-self: center;
}

.resize-md {
  max-width: 65%;
  align-self: center;
}

.resize-sm {
  max-width: 55%;
  align-self: center;
}

.resize-xsm {
  max-width: 45%;
  align-self: center;
}
